navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 70px;
  font-family: "Harry Potter", sans-serif;
  margin-right: 20px;
  color: #e0aa3e;
  -webkit-text-stroke: 1px rgb(175, 53, 12);
}

img {
  width: 10rem;
  margin-left: 5px;
}

footer {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 13px;
}

.footer-icon {
  width: 30px;
  margin: 5px;
}

#root {
  background-color: #45171d;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #efe1d1;
}

.card-list {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid #efe1d1;
  border-radius: 4%;
  gap: 1rem;
  padding: 1rem;
  background-color: #3c2a21;
  box-sizing: content-box;
  width: auto;
}

.card {
  border-radius: 6%;
  border: solid #efe1d1;
  padding: 1rem;
  background-color: #a78295;
}

.panier-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

button {
  padding: 0;
  border: 0;
  width: 35px;
}
