navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 20px;
  color: rgb(156, 97, 25);
}

img {
  width: 10rem;
  margin-left: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
